[Unit]
Description=Updates a Route53 record set with the system's current public IP

[Service]
Type=simple
EnvironmentFile=/etc/elasticdns/arguments.conf
ExecStart=/usr/bin/elasticdns $ARGS

[Install]
WantedBy=multi-user.target