[Unit]
Description=Updates a Route53 record set with the system's current public IP

[Service]
Type=simple
ExecStart=/usr/bin/elasticdns

[Install]
WantedBy=multi-user.target